<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Lagoa Viva</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="/style/main.css">
  <link rel="stylesheet" href="/style/formulario.css">
  <link rel="stylesheet" href="/style/sobre.css">
  <link rel="stylesheet" href="/style/cidades.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-YvGrxLqlD8EpYf/9voVzEiZuR7H8G00nvLMj6VdnU6yLc3L8ptD96OENwFJujx4v2O4IZ4O48iYlLUcMTIaZ0A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
<script src="/scripts/telefone_form.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>