.cidades__topicos{
    padding: 30%;
}

.icone:hover {
    cursor: pointer;
}
/*//TAG <P>--ANIMAÇÃO//*/
.divHidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    display: none;
  }
  
  .divHidden.mostrar {
    opacity: 1;
    transition: opacity 0.5s ease;

  }
  
  .divHidden.esconder {
    opacity: 0;
    transition: opacity 0.5s ease;

  }

/*//CONTAINER//*/
.container {
    box-shadow: 0 4px 8px var(--caixa-preta);
    border: 1px solid var(--container);
    padding: 20px;
    height: 150;
    border-radius: 10px;
    background-color: var(--fundo-container);
  }
  
  
  .box {
    background-color: var(--color-box);
    padding: 20px;
  }

  .container .box li {
    border: 1px solid var(--container);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 75px;
    margin-bottom: 15px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .container .box h3 {
    text-align: center;
  }

  /*//CONTEUDO//*/

  #dataAtual {
    color: var(--cor-terciaria)
  }
  
  .horarios {
    display: inline-block;
    
    width: 30%;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 3%;
  
  }

  .container .box h3 {
    color: var(--cor-terciaria)
  }

  .btn {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .btn:hover {
    cursor: pointer;
  }


/*Mudei cidades */


  .apresentacao__conteudo__sugestoes{
    font-size: 1em;
  }
  
  .icone::before { 
    content: "";
    border-color: transparent var(--borda-caixa);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
  }

  a:link, a:visited {
    color: var(--font-textos);
    text-decoration: none;
    cursor: pointer;
  }
  
  a:link:active, a:visited:active {
    color: var(--font-textos);
  }