<main class="apresentacao">
    <section class="apresentacao__conteudo">

        <h1 class="apresentacao_conteudo_titulo">Cidades</h1>

        <div>
            <ul style="list-style-type:none">

                <li class="icone" type="button" id="botao1">
                    <a class="apresentacao__conteudo__sugestoes">Linha 3001- Lagoinha de Fora / Santos Dumont (atende
                        OvídeoGuerra)</a>
                </li>

                <div id="divHidden1" class="container divHidden">

                    <div class="box">
                        
                        <button id="mostrarDiv" class="btn">AA</button>
                        
                        <h3>Tarifa: R$ 5,60</h3>
                        <p id="dataAtual"></p>

                        <ul id="horariosDiv1" class="horarios"></ul>
                        <ul id="lagoinhaDeFora" class="horarios"></ul>
                    </div>

                </div>

                <div id="divHidden1.1" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>


                        <ul id="santosDumont" class="horarios"></ul>
                    </div>

                </div>

            </ul>

        </div>


        <div>

            <ul style="list-style-type:none">

                <li class="icone" type="button" id="botao2">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3002- Lapinha / Aeronautas (extensão do
                        Aeronautas)</a>
                </li>

                <div id="divHidden2" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>


                        <ul id="horariosDiv2" class="horarios"></ul>
                        <ul id="aeronautas" class="horarios"></ul>
                    </div>

                </div>

            </ul>

        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao3">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3003 - Lapinha / Recanto da Lagoa</a>
                </li>
                <div id="divHidden3" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv3" class="horarios"></ul>
                        <ul id="lapinha/lagos" class="horarios"></ul>
                    </div>

                </div>

            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao4">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3004 - Lapinha / Vista Alegre (atende
                        Aeroporto)</a>
                </li>

                <div id="divHidden4" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>


                        <ul id="horariosDiv4" class="horarios"></ul>
                        <ul id="lapinha/vista" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao5">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3005 - Campinho / Francisco Pereira</a>
                </li>

                <div id="divHidden5" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv5" class="horarios"></ul>
                        <ul id="campinho" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao6">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3006 - Campinho / Palmital /
                        Aeronautas</a>
                </li>

                <div id="divHidden6" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv6" class="horarios"></ul>
                        <ul id="aeronautas/campinho" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao7">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3007 - Palmital / Rodoviária</a>
                </li>

                <div id="divHidden7" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv7" class="horarios"></ul>
                        <ul id="palmital" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao8">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3008 - Joá / Palmital</a>
                </li>

                <div id="divHidden8" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv8" class="horarios"></ul>
                        <ul id="palmital/cemiterio" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao9">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3009 - Nossa Senhora de Lourdes / Visão
                        c.atendimento ao Aeronautas</a>
                </li>

                <div id="divHidden9" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv9" class="horarios"></ul>
                        <ul id="aeronautas/nossaSenhoraDeLourdes" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao10">
                    <a class="apresentacao__conteudo__sugestoes">LINHA 3010 - Morro do Cruzeiro / Vila José Fagundes
                        (atende Jardim Imperial / Acacias)</a>
                </li>

                <div id="divHidden10" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv10" class="horarios"></ul>
                        <ul id="morroDoCruzeiro" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao11">
                    <a class="apresentacao__conteudo__sugestoes">LINHA 3011 - Lagoa Santa / Aeroporto</a>
                </li>

                <div id="divHidden11" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv11" class="horarios"></ul>
                        <ul id="lagoaSanta" class="horarios"></ul>
                    </div>

                </div>




            </ul>
        </div>


        <div>
            <ul style="list-style-type:none">
                <li class="icone" type="button" id="botao12">
                    <a class=" linhas apresentacao__conteudo__sugestoes">LINHA 3012 - Lapinha / Distrito Industrial</a>
                </li>

                <div id="divHidden12" class="container divHidden">

                    <div class="box">
                        <h3>Tarifa: R$ 5,60</h3>

                        <p id="dataAtual"></p>

                        <ul id="horariosDiv12" class="horarios"></ul>
                        <ul id="lapinha/distritoIndustrial" class="horarios"></ul>
                    </div>

                </div>


            </ul>
        </div>





    </section>

</main>

<script defer src="/scripts/cidade.js"></script>
<script src="/scripts/horarios.js"></script>