<h3>Página Teste</h3>
<br>
<div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Web Site</th>
          </tr>
        </thead>
        <tbody>
            {{#forEach   users}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{name}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{website}}</td>
          </tr>
          {{/forEach }}
         
        </tbody>
      </table>





    

</div>